<!DOCTYPE html>
<html lang="en">
  <head>

	    <!-- ==============================================
		Title and Meta Tags
		================================================ -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2021 MFA THESIS SHOW</title><!--  -->
		
        <!-- ==============================================
		font
		=============================================== -->	
		<!-- <link href='http://www.openhiun.com/hangul/nanumbarungothic.css' rel='stylesheet' type='text/css'> -->
		
	    <!-- ==============================================
		CSS
		=============================================== -->
        <link type="text/css" href="assets/css/sub-style.css" rel="stylesheet" />
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
				
		<!-- ==============================================
		Feauture Detection
		=============================================== -->
		<script src="assets/js/modernizr-custom.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->	
		
			<style type="text/css">
			.col-md-6{
				margin-bottom: 15px;
			}
		
			.col-md-6 .col-sm-6{
				margin-bottom: 15px;
			}
		</style>
  </head>

  <body>	 
	 <!-- ==============================================
	 Demo Section
	 =============================================== -->
     <section class="demo">

	    <div class="section-title-bold-home">
 		 <h1><span class="title_h1" onclick="location.href='http://hongikmm2021.com/'" style="cursor:pointer;">2021 MFA</span></h1>
		 <h2><span class="title_h2" onclick="location.href='http://hongikmm2021.com/'" style="cursor:pointer;">THESIS SHOW</span></h2>
		</div>
		
        <div class="separator_wrapper2">
	   </div>
	     <div class="container-fluid">
	   		<div class="row">
	    
	    	<div class="col-lg-3">
	    		<div class = "left-nav">
	    			<div class = "author">
			    		<span id = "kor_name">변 수 민</span><br><br>
			    		<span id = "eng_name">Byeon Su Min</span>
	    			</div>
	    			
	    			<div class = "kor_description">
	    				<p>
	    				아크릴(Acrylic) 핸드백은 1950년대 루사이트(Lucite) 핸드백을 현대적으로 재해석한 작업이다. 이번 작업에서 레이저 가공의 단면 특성을 활용한 아크릴 상감 기법을 연구하였고 이를 패턴으로 활용하여 핸드백 디자인의 다양성을 추구하였다.
	    				</p>
	    			</div>
	    			
	    			<div class = "eng_description">
	    				<p>
	    				This acrylic handbag is a modern reinterpretation of the 1950s Lucite Handbag. The work is an outcome of studies on acrylic inlaying techniques which experiments with the cross section resulting from laser processing. Patterns created using this technique bring diversity in handbag design.
	    				</p>
	    			</div>
	    			
	    			<div class = "contact">
    					<p id = "contact_title">CONTACT</p>
    					<p>Email : srwf20@gmail.com</p>
    					<p>Instagram : @suminbyeon_</p>
					</div>
	    			
				</div>
	    	</div>
	    	
	    	<div class = "col-lg-9 padding">
	    	
	    		<div class = "main-box">
	    		
					<div class="col-md-6 col-sm-6 col-xm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('0');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/bsm_image/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	   
		
						<div class="col-md-6 col-sm-6 col-xm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('1');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/bsm_image/2.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	
  
						<div class="col-md-6 col-sm-6 col-xm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('2');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/bsm_image/3.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	
		          
		          	<div class="col-md-6 col-sm-6 col-xm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('3');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/bsm_image/4.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	
		          
		          	<div class="col-md-6 col-sm-6 col-xm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('4');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/bsm_image/5.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          	<div class="col-md-6 col-sm-6 col-xm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('5');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/bsm_image/6.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 col-xm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('6');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/bsm_image/7.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		           <div class="col-md-6 col-sm-6 col-xm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('7');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/bsm_image/8.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		           <div class="col-md-6 col-sm-6 col-xm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('8');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/bsm_image/9.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		            <div class="col-md-6 col-sm-6 col-xm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('9');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/bsm_image/10.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
	    	</div>
	   </div><!--/row -->
		</div>
	  </div>
     </section>	 
  
	 
	 <!-- ==============================================
	 Footer Section
	 =============================================== -->
	 <footer class="footerWhite">

      <!-- COPY RIGHT -->
       <div class="container">
        <div class="row">
          <div class="copyRightWrapper">
           <div class="row">
			 <div class="copyRightText">
			 	 ⓒ 2021. Hongik Graduate School Metal Art & Design. All right reserved.
			 </div>
           </div><!-- /row -->
          </div><!-- /copyRightWrapper -->
        </div><!-- /row -->
       </div><!-- /container -->
      
	  
    </footer>	
	
     <a id="scrollup">Scroll</a> 
	 
	 
		 <!-- ==============================================
	 Modal Section
	 =============================================== -->
     <div id="myModal" class="modal fade" style="overflow: overlay;">
     
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
	     <span aria-hidden="true" style="color:white;">×</span><span class="sr-only">Close</span>
	  </button><!--/ button -->
	 
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
     
      
       <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	  
	 	 <div class="item active">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/bsm_image/1.jpg">
					      <br>
					      <br>
					      <p id = "main_title">Block</p>
					      <span id = "sub_title">acrylic, brass, stainless steel</span>
					      <br>
					      <span id = "size_title">185x100x180mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
		</div> <!-- item active -->
			
		 <div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/bsm_image/2.jpg">
					      <br>
					      <br>
					      <p id = "main_title">Untitled</p>
					      <span id = "sub_title">acrylic, brass, stainless steel</span>
					      <br>
					      <span id = "size_title">185x100x180mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			 
			 <div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					     <img src="assets/img/bsm_image/3.jpg">
					      <br>
					      <br>
					      <p id = "main_title">Jelly Bean 01</p>
					      <span id = "sub_title">acrylic, brass, stainless steel</span>
					      <br>
					      <span id = "size_title">240x195x90mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/bsm_image/4.jpg">
					      <br>
					      <br>
					      <p id = "main_title">Jelly Bean 02</p>
					      <span id = "sub_title">acrylic, brass, stainless steel</span>
					      <br>
					      <span id = "size_title">220x240x75mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/bsm_image/5.jpg">
					      <br>
					      <br>
					      <p id = "main_title">Jelly Bean Series</p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/bsm_image/6.jpg">
					      <br>
					      <br>
					      <p id = "main_title">Blooming 01</p>
					      <span id = "sub_title">acrylic, stainless steel</span>
					      <br>
					      <span id = "size_title">220x110x160mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					       <img src="assets/img/bsm_image/7.jpg" style="height: 450px; object-fit : contain">
					      <br>
					      <br>
					      <p id = "main_title">Blooming 02</p>
					      <span id = "sub_title">acrylic, brass, stainless steel</span>
					      <br>
					      <span id = "size_title">175x250x90mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/bsm_image/8.jpg">
					      <br>
					      <br>
					      <p id = "main_title">Blooming 03</p>
					      <span id = "sub_title">acrylic, brass, stainless steel</span>
					      <br>
					      <span id = "size_title">240x175x68mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/bsm_image/9.jpg">
					      <br>
					      <br>
					      <p id = "main_title">Stripes</p>
					      <span id = "sub_title">acrylic, brass, epoxy, stainless steel</span>
					      <br>
					      <span id = "size_title">190x150x50mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/bsm_image/10.jpg">
					      <br>
					      <br>
					      <p id = "main_title">Eyes</p>
					      <span id = "sub_title">acrylic, brass, stainless steel</span>
					      <br>
					      <span id = "size_title">246x100x150mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
		</div> <!-- carousel-inner -->
	
				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <i class="fas fa-angle-left fa-lg" style="color:white; font-size: 30px;"></i>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <i class="fas fa-angle-right fa-lg " style="color:white; font-size: 30px;"></i>
				    <span class="sr-only">Next</span>
				  </a>
	</div>
      </div><!--/ modal-dialog -->
	 
	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/base.js"></script>
	  
	  
	 <script type="text/javascript">
		function carousel_move(num){
 			 $('#carousel-example-generic').carousel(Number(num));	
		}
	 </script>
  </body>
</html>
