<!DOCTYPE html>
<html lang="en">
  <head>

	    <!-- ==============================================
		Title and Meta Tags
		================================================ -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2021 MFA THESIS SHOW</title><!--  -->
		
        <!-- ==============================================
		font
		=============================================== -->	
		<link href='http://www.openhiun.com/hangul/nanumbarungothic.css' rel='stylesheet' type='text/css'>
		
	    <!-- ==============================================
		CSS
		=============================================== -->
        <link type="text/css" href="assets/css/style.css" rel="stylesheet" />
				
		<!-- ==============================================
		Feauture Detection
		=============================================== -->
		<script src="assets/js/modernizr-custom.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->	
		
  </head>

  <body>	 
	 <!-- ==============================================
	 Demo Section
	 =============================================== -->
     <section class="demo">

	    <div class="section-title-bold-home">
 		 <h1><span onclick="location.href='http://hongikmm2021.com/" style="cursor:pointer;">2021 MFA</span></h1>
		 <h2><span onclick="location.href='http://hongikmm2021.com/'" style="cursor:pointer;">THESIS SHOW</span></h2>
		 <br>
		 <h3><span>Hongik University Graduate School Metal Art & Design</span></h3>
		</div>
		
        <div class="separator_wrapper2">
	   </div>
	     <div class="container-fluid">
	   		<div class="row">
	    
	    	<div class="col-lg-3">
	    		<div class = "left-nav">
	    			<div class = "author">
			    		<span id = "kor_name">김 지 현</span><br><br>
			    		<span id = "eng_name">Kim Ji Hyun</span>
	    			</div>
	    			
	    			<div class = "kor_description">
	    				<p>
	    				별빛이 내린 밤
						그 풍경 속 너와 나
						날 새롭게 하는
						따뜻하게 만드는
						니 눈빛 니 미소
						영원히 담아둘게
						너로 가득한 맘
						널 닮아가는 나
						날 위한 선물
						꿈보다 더 아름다운
						서로의 품에서
						끝 없는 밤을 걷자
						나의 모든 날들을 다 주고싶어
						내 이 맘을 모두 전하고 싶어
						잠들지 못한
						푸른 바람들
						이렇게 밝게 이 밤을 비춰
						너와 작은 일상을 함께 하는게
						내 가장 큰 기쁨인걸 넌 알까
						내 세상 속에
						넌 빛이 되어
						지금 모습 그대로 내 곁에만
						내게 온 너란 빛이 눈 부셔도
						네 앞에서 한 순간도 눈 감지 않아
						다가올 시간도
						계절의 바람도
						널 데려가지 못하게
						내가 더 좋은 사람이 되고 싶어
						더 아름답게 널 안을 수 있게
						잠들지 못한
						잠들 수 없는
						바람들이 널 부르고 있어
						언제까지나 너와 함께 할거야
						내 마지막 숨결도 너일거야
						내 세상 속에
						넌 빛이 되어
						지금 모습 그대로 내 곁에만
	    				</p>
	    			</div>
	    			
	    			<div class = "eng_description">
	    				<p>
	    				On a night illuminated by stars,
						you and I are surrounded by that scene
						Your smile and the look in your eyes
						makes me new again,
						makes me feel warm
						I’ll hold onto that forever
						My heart is full of you
						I’m starting to take after you	
						It’s a present for me,
						more beautiful than a dream
						Let’s walk this endless night
						in each other’s embrace
						I want to give you all of my days
						I want to tell you all these feelings of mine
						The sleepless blue winds
						brightly light up this night
						Living this small, ordinary life with you
						is my greatest happiness, did you know?
						You become the light in my world
						just the way you are now, by my side	
						On a day full of happiness
						In a night without darkness	
						we share the same feelings	
						and the same dream blossoms	
						that’s when we’ll arrive at
						our predetermined fate	
						I want to give you all of my days
						I want to tell you all these feelings of mine
						The sleepless blue winds
						brightly light up this night	
						Living this small, ordinary life with you
						is my greatest happiness, did you know?
						You become the light in my world
						just the way you are now, by my side
						You are a light that came to me
						Even if you are blinding,	
						when I am in front of you	
						I won’t close my eyes for an instant	
						Even approaching time
						or the winds of the seasons—
						I won’t allow them to take you away	
						I want to become a better person	
						so I can hold you even more beautifully		
						Sleepless and unable to sleep,	
	    				</p>
	    			</div>
	    			
	    			<div class = "contact">
    					<p id = "contact_title">CONTACT</p>
    					<p>Email : email@email.com</p>
    					<p>Instagram : @_instagram</p>
					</div>
	    			
	    				</div>
	    	</div>
	    	
	    	<div class = "col-lg-9">
	    	
	    		<div class = "main-box">
	    		
					<div class="col-md-6 col-sm-6">	    
			         <div class="demo-box" onclick="location.href='http://hongikmm2021.com/';"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/demo/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		          </div>	   
		
					<div class="col-md-6 col-sm-6">	    
			         <div class="demo-box" onclick="location.href='http://hongikmm2021.com/';"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/demo/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		          </div>	
  
					<div class="col-md-6 col-sm-6">	    
			         <div class="demo-box" onclick="location.href='http://hongikmm2021.com/';"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/demo/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		          </div>	
		          
		          					<div class="col-md-6 col-sm-6">	    
			         <div class="demo-box" onclick="location.href='http://hongikmm2021.com/';"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/demo/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		          </div>	
		          
		          					<div class="col-md-6 col-sm-6">	    
			         <div class="demo-box" onclick="location.href='http://hongikmm2021.com/';"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/demo/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		          </div>	
		          
		          					<div class="col-md-6 col-sm-6">	    
			         <div class="demo-box" onclick="location.href='http://hongikmm2021.com/';"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/demo/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		          </div>	
	    
       
        
	    	</div>
	   </div><!--/row -->
		</div>
	  </div>
     </section>	 
  
	 
	 <!-- ==============================================
	 Footer Section
	 =============================================== -->
	 <footer class="footerWhite">

      <!-- COPY RIGHT -->
       <div class="container">
        <div class="row">
          <div class="copyRightWrapper">
           <div class="row">
			 <div class="copyRightText">
			 	 ⓒ 2021. Hongik Graduate School Metal Art & Design. All right reserved.
			 </div>
           </div><!-- /row -->
          </div><!-- /copyRightWrapper -->
        </div><!-- /row -->
       </div><!-- /container -->
      
	  
    </footer>	
	
     <a id="scrollup">Scroll</a> 
	 
	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/base.js"></script>

  </body>
</html>
