<!DOCTYPE html>
<html lang="en">
  <head>

	    <!-- ==============================================
		Title and Meta Tags
		================================================ -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2021 MFA THESIS SHOW</title><!--  -->
		
        <!-- ==============================================
		font
		=============================================== -->	
		<link href='http://www.openhiun.com/hangul/nanumbarungothic.css' rel='stylesheet' type='text/css'>
		
	    <!-- ==============================================
		CSS
		=============================================== -->
        <link type="text/css" href="assets/css/style.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
				
		<!-- ==============================================
		Feauture Detection
		=============================================== -->
		<script src="assets/js/modernizr-custom.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->	
		
  </head>

  <body>	 
	 <!-- ==============================================
	 Demo Section
	 =============================================== -->
     <section class="demo">

	    <div class="section-title-bold-home">
 		 <h1><span onclick="location.href='http://hongikmm2021.com/" style="cursor:pointer;">2021 MFA</span></h1>
		 <h2><span onclick="location.href='http://hongikmm2021.com/'" style="cursor:pointer;">THESIS SHOW</span></h2>
		 <br>
		 <h3><span>Hongik University Graduate School Metal Art & Design</span></h3>
		</div>
		
        <div class="separator_wrapper2">
	   </div>
	     <div class="container-fluid">
	   		<div class="row">
	    
	    	<div class="col-lg-3">
	    		<div class = "left-nav">
	    			<div class = "author">
			    		<span id = "kor_name">오 지 현</span><br><br>
			    		<span id = "eng_name">Oh Ji Hyun</span>
	    			</div>
	    			
	    			<div class = "kor_description">
	    				<p>
	    				인간에게 있어서 신체기관이란 우리의 생명활동을 가능하게 하는 근본적인 조건으로 모두가 가지고 있으나, 인식하지 않고 살아가고 있다. 본 연구자는 나를 형성하고 살아가게 하는 것들에 관심을 가졌고, 그를 연결의 방법으로 가시화하기로 했다. 눈에 보이지 않는 신체의 내부, 머리부터 발 끝까지 연결되어 있는 수 많은 기관들, 이를 통해 눈에 보이지 않는 나 자신에 대해, 그리고 우리의 근본적인 생명이 이루어질 수 있게 해주는 조직 및 기관에 대해 생각해보는 계기가 되었으면 했다.
	    				</p>
	    			</div>
	    			
	    			<div class = "eng_description">
	    				<p>
	    				For humans, physical organs are fundamental conditions for doing life activities, which everyone has but nobody recognizes. This researcher paid attention to the things that shapes and enables me to live and visualized them by connecting each other. The researcher wanted that it could offer an opportunity to think about an invisible internal body and many organs connected from head to toe, invisible me and organs and tissues which essentially enable us to be alive.
	    				</p>
	    			</div>
	    			
	    			<div class = "contact">
    					<p id = "contact_title">CONTACT</p>
    					<p>Email : laurailac.artist@gmail.com</p>
    					<p>Instagram : laurailac</p>
					</div>
	    			
	    		</div>
	    	</div>
	    	
	    	<div class = "col-lg-9">
	    	
	    		<div class = "main-box">
	    		
					<div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('0');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/demo/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	   
		
						<div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('1');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/demo/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	
  
						<div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('2');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/demo/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	
		          
		          	<div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('3');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/demo/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	
		          
		          	<div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('4');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/demo/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          	<div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('5');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/demo/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
	    	</div>
	   </div><!--/row -->
		</div>
	  </div>
     </section>	 
  
	 
	 <!-- ==============================================
	 Footer Section
	 =============================================== -->
	 <footer class="footerWhite">

      <!-- COPY RIGHT -->
       <div class="container">
        <div class="row">
          <div class="copyRightWrapper">
           <div class="row">
			 <div class="copyRightText">
			 	 ⓒ 2021. Hongik Graduate School Metal Art & Design. All right reserved.
			 </div>
           </div><!-- /row -->
          </div><!-- /copyRightWrapper -->
        </div><!-- /row -->
       </div><!-- /container -->
      
	  
    </footer>	
	
     <a id="scrollup">Scroll</a> 
	 
	 		 <!-- ==============================================
	 Modal Section
	 =============================================== -->
     <div id="myModal" class="modal fade" style="overflow: overlay;">
     
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
	     <span aria-hidden="true" style="color:white;">×</span><span class="sr-only">Close</span>
	  </button><!--/ button -->
	 
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
     
      
       <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	  
	 	 <div class="item active">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/demo/1.jpg" style =" width: 100%; height: 100%;">
					      <br>
					      <br>
					      <p id = "main_title">Untitle_1<span id = "sub_title">&nbsp;&nbsp;Aluminum, brass, copper, 24K Gold-Plated</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
		</div> <!-- item active -->
			
		 <div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/demo/2.jpg" style =" width: 100%; height: 100%;">
					      <br>
					      <br>
					      <p id = "main_title">Untitle_2<span id = "sub_title">&nbsp;&nbsp;Aluminum, brass, copper, 18K Gold-Plated</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			 
			 <div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/demo/3.png" style =" width: 100%; height: 100%;">
					      <br>
					      <br>
					      <p id = "main_title">Untitle_3<span id = "sub_title">&nbsp;&nbsp;Aluminum, brass, copper, 18K Gold-Plated</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/demo/4.png" style =" width: 100%; height: 100%;">
					      <br>
					      <br>
					      <p id = "main_title">Untitle_4<span id = "sub_title">&nbsp;&nbsp;Aluminum, brass, copper, 18K Gold-Plated</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/demo/2.jpg" style =" width: 100%; height: 100%;">
					      <br>
					      <br>
					      <p id = "main_title">Untitle_5<span id = "sub_title">&nbsp;&nbsp;Aluminum, brass, copper, 18K Gold-Plated</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/demo/1.jpg" style =" width: 100%; height: 100%;">
					      <br>
					      <br>
					      <p id = "main_title">Untitle_6<span id = "sub_title">&nbsp;&nbsp;Aluminum, brass, copper, 18K Gold-Plated</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
		</div> <!-- carousel-inner -->
	
				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <i class="fas fa-angle-left fa-lg" style="color:white; font-size: 30px;"></i>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <i class="fas fa-angle-right fa-lg " style="color:white; font-size: 30px;"></i>
				    <span class="sr-only">Next</span>
				  </a>
	</div>
      </div><!--/ modal-dialog -->
	 
	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/base.js"></script>
	  
	  
	 <script type="text/javascript">
		function carousel_move(num){
 			 $('#carousel-example-generic').carousel(Number(num));	
		}
	 </script>
  </body>
</html>
