<!DOCTYPE html>
<html lang="en">
  <head>

	    <!-- ==============================================
		Title and Meta Tags
		================================================ -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2021 MFA THESIS SHOW</title><!--  -->
		
        <!-- ==============================================
		font
		=============================================== -->	
		<link href='http://www.openhiun.com/hangul/nanumbarungothic.css' rel='stylesheet' type='text/css'>



	    <!-- ==============================================
		CSS
		=============================================== -->
        <link type="text/css" href="assets/css/style.css" rel="stylesheet" />
				
		<!-- ==============================================
		Feauture Detection
		=============================================== -->
		<script src="assets/js/modernizr-custom.js"></script>

		
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->	
		
  </head>

	
  <body>	 
  
	 <!-- ==============================================
	 Demo Section
	 =============================================== -->
     <section class="demo">
	
		
	    <div class="section-title-bold-home">
 		 <h1><span onclick="location.href='http://hongikmm2021.com/" style="cursor:pointer;">2021 MFA</span></h1>
		 <h2><span onclick="location.href='http://hongikmm2021.com/'" style="cursor:pointer;">THESIS SHOW</span></h2>
		 <br>
		 <h3><span>Hongik University Graduate School Metal Art & Design</span></h3>
		</div>
		
		
		
        <div class="separator_wrapper2">
	   </div>
	     <div class="container-fluid">
	   		<div class="row">

	    	<div class="col-lg-3">
	    		<div class = "left-nav">
	    			<div class = "author">
			    		<span id = "kor_name">김 지 현</span><br><br>
			    		<span id = "eng_name">Kim Ji Hyun</span>
	    			</div>
	    			
	    			<div class = "kor_description">
	    				<p>
	    				자연 현상에서 물은 다양하고 많은 변화를 일으키며 형이 정해져 있지 않아 예측이 불가하다. 그리고 외부환경에 의해 변형되며 본래의 형태로 되돌아올 수도 있다. 비 물질인 형태가 없는 투명한 물은 표면장력에 의해 발생한 응집력과 이로 인한 순간적 움직임이 포착된다. 투명성을 지닌 물질적 재료로 유리섬유 강화 플라스틱을 활용하여 확장된 공간을 지각할 수 있도록 하였고, 물의 특성인 무정형성과 반영성을 기반으로 가시화시키고자 하였다.
	    				</p>
	    			</div>
	    			
	    			<div class = "eng_description">
	    				<p>
	    				Water causes a lot of diverse changes in nature and is unpredictable because it has no definite shape. It changes its shape depending on the external environment and can return to its initial shape. The surface tension created by the cohesive forces within water and the momentary movement of water by the tension are captured. This study used glass fiber reinforced plastics as transparent materials to expand the perceived space and visualized the shape of water.
	    				</p>
	    			</div>
	    			
<!-- 	    			<div class = "contact"> -->
<!--     					<p id = "contact_title">CONTACT</p> -->
<!--     					<p>Email : email@email.com</p> -->
<!--     					<p>Instagram : @_instagram</p> -->
<!-- 					</div> -->
	    		</div>
	    	
	    	</div>
	    		
	    	<div class = "col-lg-9">
	    	
	    		<div class = "main-box">
	    		
					<div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('0');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	   
		
						<div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('1');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/2.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	
  
						<div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('2');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/3.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	
		          
		          	<div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('3');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/4.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	
		          
		          	<div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('4');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/5.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          	<div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('5');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/6.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('6');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/7.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		           <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('7');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/8.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		           <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('8');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/9.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		            <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('9');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/10.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('10');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/11.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('11');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/12.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('12');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/13.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('13');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/14.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('14');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/15.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('15');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/16.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('16');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/17.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('17');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/18.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('18');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/19.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('19');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/20.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('20');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/21.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('21');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/22.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          
	    	</div>
	   </div><!--/row -->
	   
		</div>
	  </div>
     </section>	 
  
	 
	 <!-- ==============================================
	 Footer Section
	 =============================================== -->
	 <footer class="footerWhite">

      <!-- COPY RIGHT -->
       <div class="container">
        <div class="row">
          <div class="copyRightWrapper">
           <div class="row">
			 <div class="copyRightText">
			 	 ⓒ 2021. Hongik Graduate School Metal Art & Design. All right reserved.
			 </div>
           </div><!-- /row -->
          </div><!-- /copyRightWrapper -->
        </div><!-- /row -->
       </div><!-- /container -->
      
	  
    </footer>	
	
     <a id="scrollup">Scroll</a> 
	 
	 
		 	 <!-- ==============================================
	 Modal Section
	 =============================================== -->
     <div id="myModal" class="modal fade" style="overflow: overlay;">
     
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
	     <span aria-hidden="true" style="color:white;">×</span><span class="sr-only">Close</span>
	  </button><!--/ button -->
	 
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
     
      
       <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	  
	 	 <div class="item active">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/1.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅰ<span id = "sub_title">&nbsp;&nbsp;Brooch, Silver 925, Glass-Fiber Reinforced Plastics, 165x55x30 mm, 125x85x25 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
		</div> <!-- item active -->
			
		 <div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/2.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅰ<span id = "sub_title">&nbsp;&nbsp;Necklace, Silver 925, Glass-Fiber Reinforced Plastics, 169x53x28 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			 
			 <div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					     <img src="assets/img/kjh_image/3.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅱ<span id = "sub_title">&nbsp;&nbsp;Brooch, Silver 925, Glass-Fiber Reinforced Plastics, 92x99x28 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/4.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅱ<span id = "sub_title">&nbsp;&nbsp;Brooch, Silver 925, Glass-Fiber Reinforced Plastics, 92x99x28 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/5.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅱ<span id = "sub_title">&nbsp;&nbsp;Brooch, Silver 925, Glass-Fiber Reinforced Plastics, 141x82x34 mm, 138x104x29 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/6.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅲ<span id = "sub_title">&nbsp;&nbsp;Brooch, Brass, White gold plated, Glass-Fiber Reinforced Plastics, 82x127x19 mm, 65x142x22 mm, 91x117x20 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					       <img src="assets/img/kjh_image/7.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅲ<span id = "sub_title">&nbsp;&nbsp;Brooch, Brass, White gold plated, Glass-Fiber Reinforced Plastics, 65x142x22 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/8.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅲ<span id = "sub_title">&nbsp;&nbsp;Brooch, Brass, White gold plated, Glass-Fiber Reinforced Plastics, 91x117x20 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/9.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅳ<span id = "sub_title">&nbsp;&nbsp;Brooch, Brass, White gold plated, Glass-Fiber Reinforced Plastics, 44x83x20 mm, 41x106x26 mm, 50x94x21 mm, </span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/10.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅳ<span id = "sub_title">&nbsp;&nbsp;Brooch, Brass, White gold plated, Glass-Fiber Reinforced Plastics, 41x106x26 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/11.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅰ<span id = "sub_title">&nbsp;&nbsp;Brooch, Silver 925, Glass-Fiber Reinforced Plastics,  64x113x25 mm, 83x102x39 mm, 38x121x30 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/12.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅱ<span id = "sub_title">&nbsp;&nbsp;Brooch, Silver 925, Glass-Fiber Reinforced Plastics, 140x75x42 mm, 65x92x38 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/13.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅱ<span id = "sub_title">&nbsp;&nbsp;Brooch, Silver 925, Glass-Fiber Reinforced Plastics, 82x119x36 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/14.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅲ<span id = "sub_title">&nbsp;&nbsp;Necklace, Silver 925, Glass-Fiber Reinforced Plastics, 157x130x16 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/15.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅲ<span id = "sub_title">&nbsp;&nbsp;Brooch, Silver 925, Glass-Fiber Reinforced Plastics, 130x106x12 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/16.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅲ<span id = "sub_title">&nbsp;&nbsp;Brooch, Silver 925, Glass-Fiber Reinforced Plastics, 130x106x12 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/17.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅲ<span id = "sub_title">&nbsp;&nbsp;Brooch, Silver 925, Glass-Fiber Reinforced Plastics, 112x132x32 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/18.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅲ<span id = "sub_title">&nbsp;&nbsp;Brooch, Silver 925, Glass-Fiber Reinforced Plastics, 112x132x32 mm, 130x106x12 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/19.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅳ<span id = "sub_title">&nbsp;&nbsp;Brooch, Brass, White gold plated, Glass-Fiber Reinforced Plastics, 70x99x16 mm, 66x95x18 mm, 82x100x21 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/20.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅳ<span id = "sub_title">&nbsp;&nbsp;Brass, White gold plated, Glass-Fiber Reinforced Plastics, 70x99x16 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/21.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅳ<span id = "sub_title">&nbsp;&nbsp;Brooch, Brass, White gold plated, Glass-Fiber Reinforced Plastics, 66x95x18 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/22.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅳ<span id = "sub_title">&nbsp;&nbsp;Brooch, Brass, White gold plated, Glass-Fiber Reinforced Plastics, 82x100x21 mm</span></p>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			
		</div> <!-- carousel-inner -->
	
				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <i class="fas fa-angle-left fa-lg" style="color:white; font-size: 30px;"></i>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <i class="fas fa-angle-right fa-lg " style="color:white; font-size: 30px;"></i>
				    <span class="sr-only">Next</span>
				  </a>
	</div>
      </div><!--/ modal-dialog -->
	 
	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/base.js"></script>


 	<script type="text/javascript">
		function carousel_move(num){
 			 $('#carousel-example-generic').carousel(Number(num));	
		}
	 </script>


	

	
  </body>
</html>
