<!DOCTYPE html>
<html lang="en">
  <head>

	    <!-- ==============================================
		Title and Meta Tags
		================================================ -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2021 MFA THESIS SHOW</title><!--  -->
		
        <!-- ==============================================
		font
		=============================================== -->	
		<!-- <link href='http://www.openhiun.com/hangul/nanumbarungothic.css' rel='stylesheet' type='text/css'> -->



	    <!-- ==============================================
		CSS
		=============================================== -->
        <link type="text/css" href="assets/css/sub-style.css" rel="stylesheet" />
				
		<!-- ==============================================
		Feauture Detection
		=============================================== -->
		<script src="assets/js/modernizr-custom.js"></script>

		
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->	
		
			<style type="text/css">
			.col-md-6{
				margin-bottom: 15px;
			}
		
			.col-md-6 .col-sm-6{
				margin-bottom: 15px;
			}
		</style>
		
  </head>

	
  <body>	 
  
	 <!-- ==============================================
	 Demo Section
	 =============================================== -->
     <section class="demo">
	
		
	    <div class="section-title-bold-home">
 		 <div class="left_logo"><h1><span class="title_h1" onclick="location.href='http://hongikmm2021.com/'" style="cursor:pointer;">2021 MFA<br>THESIS SHOW</span></h1></div>
 		 <div class="right_logo"><img class = "logo" src="assets/img/logo.jpg" ></div>
		</div>
		
		
		
        <div class="separator_wrapper2">
	   </div>
	     <div class="container-fluid">
	   		<div class="row">

	    	<div class="col-lg-3">
	    		<div class = "left-nav">
	    			<div class = "author">
			    		<span id = "kor_name">김 지 현</span><br><br>
			    		<span id = "eng_name">Kim Ji Hyun</span>
	    			</div>
	    			
	    			<div class = "kor_description">
	    				<p>
	    				물은 유체로서 형태적 유동성과 가변성을 가지고 있기 때문에 상황에  따라 다양한 형태로 존재하게 된다. 물의 형태는 상황에 따라 유동적이여서 다양한 조형을 구성하게 되는데 이를 물의 조형적 특성인 물방울과 흐름으로 나누어 가시화시키고자 하였다. 가벼워야 하는 장신구의 기능적 특성과 물의 투명성 및 유동성의 형태를 돋보이게 하기 위해 유리섬유 강화 플라스틱을 활용하여 제작하였다.
	    				</p>
	    			</div>
	    			
	    			<div class = "eng_description">
	    				<p>
	    				Water exists in various shapes depending on the situation because it has physical fluidity and changeability as a fluid. It can change its shape according to surroundings and takes various shapes. This study divided them into droplets and a flow, formative characteristics of water, and visualized them. jewelry was created using glass fiber reinforced plastics in order to highlight the functional characteristics of the jewelry, which are needed to be light, and the transparency and fluidity of water.
	    				</p>
	    			</div>
	    			
	    			<div class = "contact">
    					<p id = "contact_title">CONTACT</p>
    					<p>Email : skfl589@naver.com</p>
    					<p>Instagram : na__rrri</p>
					</div>
	    		</div>
	    	
	    	</div>
	    		
	    	<div class = "col-lg-9 padding">
	    	
	    		<div class = "main-box">
	    		
					<div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('0');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/1.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	   
		
						<div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('1');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/2.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	
  
						<div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('2');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/3.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	
		          
		          	<div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('3');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/4.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>	
		          
		          	<div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('4');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/5.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          	<div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('5');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/6.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('6');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/7.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		           <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('7');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/8.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		           <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('8');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/9.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		            <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('9');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/10.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('10');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/11.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('11');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/12.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('12');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/13.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('13');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/14.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('14');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/15.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('15');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/16.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('16');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/17.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('17');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/18.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('18');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/19.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('19');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/20.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('20');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/21.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          <div class="col-md-6 col-sm-6 padding">
					<a href="#myModal" data-toggle="modal" onclick="carousel_move('21');">		    
			         <div class="demo-box"> 
			          <div class="image-box">
				           <div class = "img-responsive img-thumbnail">
		           				<img src="assets/img/kjh_image/22.jpg" alt="demo-img">
		          		  </div>
				 	 </div>
		        	</div>
		        	</a>
		          </div>
		          
		          
	    	</div>
	   </div><!--/row -->
	   
		</div>
	  </div>
     </section>	 
  
	 
	 <!-- ==============================================
	 Footer Section
	 =============================================== -->
	 <footer class="footerWhite">

      <!-- COPY RIGHT -->
       <div class="container">
        <div class="row">
          <div class="copyRightWrapper">
           <div class="row">
			 <div class="copyRightText">
			 	 ⓒ 2021. Hongik Graduate School Metal Art & Design. All right reserved.
			 </div>
           </div><!-- /row -->
          </div><!-- /copyRightWrapper -->
        </div><!-- /row -->
       </div><!-- /container -->
      
	  
    </footer>	
	
     <a id="scrollup">Scroll</a> 
	 
	 
		 	 <!-- ==============================================
	 Modal Section
	 =============================================== -->
     <div id="myModal" class="modal fade">
     
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
	     <span aria-hidden="true" style="color:white;">×</span><span class="sr-only">Close</span>
	  </button><!--/ button -->
	 
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
     
      
       <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	  
	 	 <div class="item active">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/1.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅰ</p>
					      <span id = "sub_title">Brooch, Silver 925, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">165x55x30mm, 125x85x25mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
		</div> <!-- item active -->
			
		 <div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/2.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅰ</p>
					      <span id = "sub_title">Necklace, Silver 925, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">169x53x28mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			 
			 <div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					     <img src="assets/img/kjh_image/3.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅱ</p>
					      <span id = "sub_title">Brooch, Silver 925, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">92x99x28mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/4.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅱ</p>
					      <span id = "sub_title">Brooch, Silver 925, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">92x99x28mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/5.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅱ</p>
					      <span id = "sub_title">Brooch, Silver 925, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">141x82x34mm, 138x104x29mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/6.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅲ</p>
					      <span id = "sub_title">Brooch, Brass, White gold plated, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">82x127x19mm, 65x142x22mm, 91x117x20mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					       <img src="assets/img/kjh_image/7.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅲ</p>
					      <span id = "sub_title">Brooch, Brass, White gold plated, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">65x142x22mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/8.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅲ</p>
					      <span id = "sub_title">Brooch, Brass, White gold plated, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">91x117x20mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/9.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅳ</p>
					      <span id = "sub_title">Brooch, Brass, White gold plated, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">44x83x20mm, 41x106x26mm, 50x94x21mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/10.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Waterdrop series Ⅳ</p>
					      <span id = "sub_title">Brooch, Brass, White gold plated, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">41x106x26mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/11.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅰ</p>
					      <span id = "sub_title">Brooch, Silver 925, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">64x113x25mm, 83x102x39mm, 38x121x30mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/12.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅱ</p>
					      <span id = "sub_title">Brooch, Silver 925, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">140x75x42mm, 65x92x38mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/13.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅱ</p>
					      <span id = "sub_title">Brooch, Silver 925, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">82x119x36mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/14.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅲ</p>
					      <span id = "sub_title">Necklace, Silver 925, Glass-Fiber Reinforced Plastics</span>
					      <br>
					      <span id = "size_title">157x130x16mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/15.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅲ</p>
					      <span id = "sub_title">brooch, silver 925, glass-fiber reinforced plastics</span>
					      <br>
					      <span id = "size_title">130x106x12mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/16.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅲ</p>
					      <span id = "sub_title">brooch, silver 925, glass-fiber reinforced plastics</span>
					      <br>
					      <span id = "size_title">130x106x12mm</span>  
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/17.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅲ</p>
					      <span id = "sub_title">brooch, silver 925, glass-Fiber reinforced plastics</span>
					      <br>
					      <span id = "size_title">112x132x32mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/18.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅲ</p>
					      <span id = "sub_title">brooch, silver 925, glass-fiber reinforced plastics</span>
					      <br>
					      <span id = "size_title">112x132x32mm, 130x106x12mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/19.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅳ</p>
					      <span id = "sub_title">brooch, brass, white gold plated, glass-Fiber reinforced plastics</span>
					      <br>
					      <span id = "size_title">70x99x16mm, 66x95x18mm, 82x100x21mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/20.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅳ</p>
					      <span id = "sub_title">brass, white gold plated, glass-fiber reinforced plastics</span>
					      <br>
					      <span id = "size_title">70x99x16mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/21.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅳ</p>
					      <span id = "sub_title">brooch, brass, white gold plated, glass-fiber reinforced plastics,</span>
					      <br>
					      <span id = "size_title">66x95x18mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			<div class="item">
	 	  <div class="modal-dialog">
      		 <div class="modal-content">
      		  	<div class="modal-body">
	       			 <div class="row">
					      <img src="assets/img/kjh_image/22.jpg" style="height: 450px;">
					      <br>
					      <br>
					      <p id = "main_title">Flow series Ⅳ</p>
					      <span id = "sub_title">brooch, brass, white gold plated, glass-fiber reinforced plastics</span>
					      <br>
					      <span id = "size_title">82x100x21mm</span>
				 	</div><!--/ row -->
		       </div><!--/ modal-body -->
		     </div><!--/ modal-content -->
		     </div><!-- modal-dialog -->
			</div> <!-- item active -->
			
			
		</div> <!-- carousel-inner -->
	
				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <i class="fas fa-angle-left fa-lg" style="color:white; font-size: 30px;"></i>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <i class="fas fa-angle-right fa-lg " style="color:white; font-size: 30px;"></i>
				    <span class="sr-only">Next</span>
				  </a>
	</div>
      </div><!--/ modal-dialog -->
	 
	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/base.js"></script>


 	<script type="text/javascript">
		function carousel_move(num){
 			 $('#carousel-example-generic').carousel(Number(num));	
		}
	 </script>


	

	
  </body>
</html>
